{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>Error Loading Page.</h1>
        <p> Make sure you are accessing pages through the navigation options</p>
        <p> Are you filling in forms correctly?</p>
    </div>

{% endblock %}