{% extends '/default/Graph/graph.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <br />
            <i class="fa fa-bar-chart fa-5x fa-fw"></i>
            <br />
            <i class="fa fa-pie-chart fa-5x fa-fw"></i>
            <br />
            <i class="fa fa-line-chart fa-5x fa-fw"></i>
        </div>
{% endblock %}
