{% extends '/default/Hire/hire.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Hire ID</th>
                    <th scope="col">Customer Name (f+l)</th>
                    <th scope="col">Car Registration</th>
                    <th scope="col">Date of Return</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><a href="{{ path('hire_info') }}">0133</a></th>
                    <td>Billy Boye</td>
                    <td>AK18 OBE</td>
                    <td>23/02/2018</td>
                </tr>
                <tr>
                    <th scope="row"><a href="{{ path('hire_info') }}">0023</a></th>
                    <td>Gordon Freeman</td>
                    <td>MV06 MDF</td>
                    <td>03/05/2018</td>
                </tr>
                </tbody>
            </table>

        </div>
{% endblock %}
