{% extends '/default/Hire/hire.html.twig' %}

{% block content %}
    <div class="col-md-12">
        form to create a hire
        <hr />
            Customer ID <br />
            Salesperson ID <br />
            Car Registration <br />
        <hr />
            Include basic Insurance Plan? <br />
            Rent Date <br />
            Return Date <br />
            Days Rented <br />
    </div>
{% endblock %}
