{% extends '/default/Hire/hire.html.twig' %}

{% block content %}
    <div class="col-md-12">
        A single hire profile.

        <button type="button" class="btn btn-primary btn-sm">Edit Hire</button>

        <button type="button" class="btn btn-primary btn-sm">Delete Hire</button>

    </div>
{% endblock %}
