{% extends '/default/Vehicle/vehicle.html.twig' %}

{% block content %}
    <div class="col-md-12">
        form to add a car
        <hr />
            Car Registration <br />
            Make <br />
            Model <br />
            Capacity <br />
            Price <br />
            Available? <br />
    </div>
{% endblock %}
