{% extends '/default/Vehicle/vehicle.html.twig' %}

{% block content %}
    <div class="col-md-12">
        Car details.

        <button type="button" class="btn btn-primary btn-sm">Edit Car</button>

        <button type="button" class="btn btn-primary btn-sm">Delete Car</button>

    </div>
{% endblock %}
