{% extends '/default/Salesperson/salesperson.html.twig' %}

{% block content %}
    <div class="col-md-12">
        Your ID: {{ salesperson.id }}
        <hr />
        First Name: {{ salesperson.firstName }} <br />
        Last Name: {{ salesperson.lastName }} <br />
        Commission: 5%<br />
        <hr />

        <a href="{{ path('salesperson_edit', {salesperson: salesperson.id}) }}">
        <button type="button" class="btn btn-primary btn-sm">Edit</button>
        </a>
    </div>
{% endblock %}
