{% extends '/default/Salesperson/salesperson.html.twig' %}

{% block content %}
    <div class="col-md-12">
testsalespersonview
        <a href="{{ path('salesperson_edit') }}">
        <button type="button" class="btn btn-primary btn-sm">Edit</button>
        </a>
    </div>
{% endblock %}
