{% extends '/default/Customer/customer.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Postcode</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col">Email Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><a href="{{ path('customer_info') }}">[first_name + last_name]</a></th>
                    <td>DY9 0Jl</td>
                    <td>07231452934</td>
                    <td>girl@mail.com</td>
                </tr>
                <tr>
                    <th scope="row"><a href="{{ path('customer_info') }}">[first_name + last_name]</a></th>
                    <td>DY2 9BE</td>
                    <td>07235134123</td>
                    <td>boy@mail.com</td>
                </tr>
                </tbody>
            </table>

        </div>
{% endblock %}
