{% extends '/default/Customer/customer.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Column heading</th>
                    <th scope="col">Column heading</th>
                    <th scope="col">Column heading</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><a href="{{ path('customer_info') }}">Customer 1</a></th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row"><a href="{{ path('customer_info') }}">Customer 2</a></th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                </tbody>
            </table>

        </div>
{% endblock %}
