{% extends '/default/Customer/customer.html.twig' %}

{% block content %}
    <div class="col-md-12">
       individual customer details.

        <button type="button" class="btn btn-primary btn-sm">Edit Customer</button>

        <button type="button" class="btn btn-primary btn-sm">Delete Customer</button>

    </div>
{% endblock %}
