{% extends '/default/Customer/customer.html.twig' %}

{% block content %}
    <div class="col-md-12">
       add a new customer
        <hr />
            <i class="fa fa-user fa-fw"></i> <br />
            First Name <br />
            Last Name <br />
        <hr />
            <i class="fa fa-home fa-fw"></i> <br />
            Street Name <br />
            City <br />
            Postcode <br />
        <hr />
            <i class="fa fa-phone fa-fw"></i> <br />
            Mobile No. <br />
            Email Address <br />
    </div>
{% endblock %}
