{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <h1>All Done?</h1>
                <hr />
                <a href="{{ path('customer_view') }}">
                    Return to Customers
                </a>

            </div>

            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('customer_view') }}">&nbsp;Customers</a></li>
                    <li class="breadcrumb-item active">&nbsp;Help</li>
                </ol>
                *Guide for Creating, Viewing and Editing Customers*
            </div>
        </div>
    </div>
{% endblock %}
