{% extends '/default/Customer/customer.html.twig' %}

{% block content %}
    <div class="col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>

        </div>
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary btn-sm">Create</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
